.u-section-1 .u-sheet-1 {
  min-height: 112px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 34px auto 26px;
}.u-section-2 .u-sheet-1 {
  min-height: 2080px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 15px;
  height: auto;
  min-height: 2065px;
  margin-top: 0;
}