.u-section-1 .u-sheet-1 {
  min-height: 96px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 14px auto 30px;
}.u-section-2 .u-sheet-1 {
  min-height: 1634px;
}

.u-section-2 .u-text-1 {
  margin: 8px 0 60px;
}.u-section-3 .u-sheet-1 {
  min-height: 64px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  margin: 19px auto 19px 0;
  padding: 0;
}